<section class="how-it-works">
	<h2>How It Works</h2>
	<p>
		Lazaro uses advanced technology to scan websites in real-time, notifying you if any potential dangers are
		detected. Simply add the extension to your browser, and let Lazaro handle the rest. No technical knowledge
		required!
	</p>
</section>

<style>
	.how-it-works {
		display: flex;
		flex-flow: column;
		justify-content: space-between;
		gap: var(--spacing);
	}
</style>
