<section class="how-it-works">
	<h2>¿Cómo funciona?</h2>
	<p>
		Lazaro utiliza tecnología avanzada basada en IA para escanear sitios web en tiempo real, notificándole si se
		detecta algún peligro potencial. Sólo tiene que añadir la extensión a su navegador y dejar que Lazaro se
		encargue del resto. No necesita conocimientos técnicos.
	</p>
</section>

<style>
	.how-it-works {
		display: flex;
		flex-flow: column;
		justify-content: space-between;
		gap: var(--spacing);
	}
</style>
